@import "./index.scss";
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.card-container {
  width: clamp(300px, 90vw, 375px) !important;
  border-radius: 10px;
  overflow: hidden;
  background: $white;
  header {
    background: $paleblue no-repeat;
    height: 170px;
    background-repeat: no-repeat !important;
    background-size: 100% 170px !important ;
  }

  .card_body {
    padding: 30px 20px;
    text-align: center;
    p {
      padding: 20px 30px;
    }
    .planinfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $very-paleblue;
      padding: 15px 10px;
      border-radius: 10px;
      margin-bottom: 25px;

      .planinfo_details{
        p{
          padding: 0;
        }
      }
      a{
        color:$bright-blue;
        text-decoration: underline;
        font-weight: fontWeight(bold);
        &:hover{
          color: rgba($bright-blue, 0.7);
        }
      }
    }
  }
}
.button {
  width: 100%;
  padding-block: 14px;
  margin-block: 5px;
  border-radius: 5px;
  font-weight: fontWeight(bold);
  cursor: pointer;
  transition: 0.2s;
  &.primary {
    background: $bright-blue;
    color: $white;
    box-shadow: 0px 5px 8px rgba($darkblue, 0.2);
    &:hover {
      background: rgba($bright-blue, 0.7);
    }
  }
  &.secondary {
    background: none;
    color: $desaturated-blue;
    &:hover{
      color: darkblue;
    }
  }
  &:hover {
    box-shadow: 0px 5px 8px rgba($desaturated-blue, 0.5);
    
  }
}
